/* Bar Navigation */
#mainNav {
	background-color: #265873;
}

.navbar {
    /*position: relative;*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    font-family: 'Cabin', sans-serif;
  }

  .navbar #title {
  	font-size: 25px;
  	text-shadow: 2px 2px 2px black;
  }

  .container {
  	width: 100%;

  }

a {
    color: white;
}
div ul li a:hover{
	color: #c7e5f5;
}

